<h2><%= @tag.name %></h2>
<h2>All Arts List</h2>
<% @tags.each do |tag| %>
<span> <%= link_to tag.name, tag_path(tag)%> </span>
<% end %>

   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
    <h6>Art Name: <%= tag.name %></h6>
    <h6> Art Description: <%=tag.description.truncate(30) %></h6>
    <h6>Art Price: <%= number_to_currency tag.price %></h6>
 
     </span>
   </div>
 </div>
</div>
<% end %>
</div>
