show page


<h2><%= @art.name %></h2>
 <img class="size", class="activator" src="<%= @art.image %>">
<p><%= @art.description %></p></br>
<p><%= @art.price %></p>
<p><%= link_to("Edit Art", edit_art_path(@art)) %></p>
<p><%= link_to "Delete Art", art_path(@art), method: :delete %></p>
<h4>All Arts</h4>
<% @art.tags.each do |tag| %>
<p><%= link_to tag.name, tag_path(tag) %></p>

<% end %>
